DB_URL=jdbc:mysql://localhost:3306/hansport_v2?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=123456

JWT_BASE64_SECRET=HI5cUdfIjjCOvFVro6jMHzivhOlWrpCFYpYasERImNc1zi784B2X1O7+zWyNBJahCgjyMEtvOCCQzxGdefT5OQ==
JWT_ACCESS_TOKEN_VALIDITY=86400
JWT_REFRESH_TOKEN_VALIDITY=604800

UPLOAD_FILE_BASE_PATH=../hansport_v2fe/upload

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Mail Config (Sử dụng App Password của Gmail)
YOUR_EMAIL=your_email@gmail.com
YOUR_APP_PASSWORD=your_app_password_here

SERVER_PORT=8080
FRONTEND_URL=http://localhost:5173
COOKIE_SECURE=false
SEED_ENABLED=true
